{% extends 'master' %}
{% block content %}
<script>
  const key = "{{key}}"
</script>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">change your password</div>
        <div class="panel-body">
          <form class="form-horizontal" role="form" method="POST" action="/changepassword">


            {{ csrfField }}


            <div class="form-group">
              <label for="password" class="col-md-4 control-label">Password</label>

              <div class="col-md-6">
                <input id="password" type="password" class="form-control" name="password" required>
              </div>
            </div>
            <input type="hidden" value="{{key}}" name="keytoken">
            <div class="form-group">
              <div class="col-md-6 col-md-offset-4">
                <button type="submit" class="btn btn-primary">
                  <i class="fa fa-btn fa-user"></i>Update
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
